.date {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 20em) {
  .date {
    flex-direction: column;
  }
}

@media (min-width: 45em) {
  .date {
    flex-direction: row;
    justify-content: space-between;
  }
}
.calender {
  display: flex;
  padding-left: 0.5rem;
  align-items: center;
  height: 3.5rem;
  gap: 1rem;
  background: var(--third-color);
  border: 0.5px solid var(--fourth-color);
  border-radius: 5px;
}
.calenderAndIconWrapper {
  display: flex;
  flex-direction: column;
}
.calenderLabel {
  font-size: 1rem;
  font-weight: 500;
}

@media (min-width: 45em) {
  .calender {
    width: 45%;
  }
}

.passengerAndPickTime {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 45em) {
  .passengerAndPickTime {
    gap: 1rem;
  }
}

@media (max-width: 20em) {
  .passengerAndPickTime {
    flex-direction: column;
  }
}

.pickTime {
  display: flex;
  padding-left: 0.5rem;
  align-items: center;
  width: 50%;

  background: var(--third-color);
  border: 0.5px solid var(--fourth-color);
  border-radius: 5px;
}

@media (max-width: 20em) {
  .pickTime {
    width: 100%;
    display: flex;
    align-items: center;
    height: 3.5rem;

    background: var(--third-color);
    border: 0.5px solid var(--fourth-color);
    border-radius: 5px;
    margin-bottom: 0.2rem;
  }
}

@media (min-width: 62em) {
  .pickTime {
    height: 3.7rem;
    width: 39%;
  }
}
.datePickUp {
  border: none;
  width: 100%;
}

@media (min-width: 62em) {
  .calender {
    height: 3.7rem;
    width: 45%;
  }
}

.date-picker {
  border: none;
}

.passenger {
  display: flex;
  align-items: center;
  width: 48%;
  height: 3.5rem;
  background-color: var(--third-color);
  border: 0.5px solid var(--fourth-color);
  border-radius: 5px;
}

@media (max-width: 20em) {
  .passenger {
    width: 100%;
  }
}

@media (min-width: 62em) {
  .passenger {
    height: 3.7rem;
    width: auto;
  }
  .passengerSpecify {
    width: 10rem;
  }
}
.select-passenger {
  border: none;
}
.calenderDisable {
  background-color: var(--six-color);
}
