.main {
  background-color: var(--five-color);
}

.heading {
  font-size: 2rem;
  line-height: 2.68rem;
  text-align: center;
  padding: 4rem 0 3.18rem;

  margin: 0px auto 2.5rem;
}

.icons {
  font-size: 1.5rem;
}
.title {
  font-size: 1.5rem;
}
.rounderIcons {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.first {
  background-color: #808000;
}

.second {
  background-color: #008080;
}

.second svg {
  fill: white;
}

.third {
  background-color: #ffb6c1;
}

.fourth {
  background-color: var(--secondary-color);
}

.fourth svg {
  fill: white;
}
