.why {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}
.why h2 {
  font-size: 1.3rem;
}

.svg {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.first {
  background-color: var(--first-icon-bg);
}
.second {
  background-color: var(--second-icon-bg);
}
.p {
  background-color: var(--third-icon-bg);
}
