.postHeading {
  max-width: 50rem;
  margin: 5rem auto 4rem;
  font-size: 3.3rem;
}

.postImgs {
  display: block;
  position: relative;
  height: 20rem;
}

@media (min-width: 62em) {
  .postImgs {
    height: 32rem;
  }
}

.postContainer h2 {
  max-width: 50rem;
  margin: 2rem auto;
}

.postContainer p {
  max-width: 50rem;
  margin: 1rem auto;
}
