.userIcon {
  font-size: 1.5rem;
}

@media (min-width: 45em) {
  .userIcon {
    font-size: 2rem;
  }
}
@media (min-width: 62em) {
  .userIcon {
    font-size: 2.3rem;
  }
}

@media (min-width: 45em) {
  .moveToLeftTable {
    margin-left: 12rem;
  }
}

@media (max-width: 62em) {
  .showDrownDownInTable {
    display: none;
  }
}

@media (min-width: 62em) {
  .showDrownDownProfile {
    display: none;
  }
}
