.form-control {
  padding-left: 0.5rem;

  display: flex;
  align-items: center;

  height: 3rem;

  background: var(--third-color);
  border: 0.5px solid var(--fourth-color);
  border-radius: 5px;
  margin-bottom: 0.2rem;
}

.validated {
  margin-bottom: 1.6rem;
}
@media (min-width: 62em) {
  .form-control {
    width: 20%;
    height: 3.5rem;
  }
}

.formControl {
  width: 90%;
  padding-left: 0.5rem;
  position: relative;
}

.form-input {
  border: none;
}

.searchFormFeedBack {
  position: absolute;
  top: 2.6rem;
}
