.form-control {
  padding-left: 0.5rem;
  display: flex;
  height: 2.81rem;

  background: var(--third-color);
  border: 0.5px solid var(--fourth-color);
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

@media (min-width: 62em) {
  .form-control {
    width: 20%;
    height: 3.5rem;
  }
}

.form-input {
  border: none;
}
