.navContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cartWrapper {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;

  white-space: nowrap;
  overflow-x: auto;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cartWrapper::-webkit-scrollbar {
  display: none;
}

@media (min-width: 45em) {
  .cartWrapper {
    padding-top: 0;
  }
}

.navButton {
  background-color: var(--secondary-darkest-color);
  color: white;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px;
  border-radius: 5px;
}

.navButton:hover {
  background-color: #555555;
}

.cartWrapper {
  position: relative;
}
