.bookingDetails {
  background-color: #f7f7f7;
  padding-top: 2rem;
  padding-bottom: 5%;
}

@media (min-width: 62em) {
  .bookingDetails {
    padding-bottom: 26.5rem;
  }
}

@media (min-width: 62em) {
  .bookingDetailsContainer {
    display: flex;
    gap: 2rem;
  }
}

@media (min-width: 45em) {
  .bookingDetailsWith {
    width: 90%;
  }
}

@media (min-width: 62em) {
  .bookingDetailsWith {
    width: 30%;
  }
}

.cartAndPassengerDetail {
  min-height: min-content;
}

/* @media (min-width: 45em) {
  .cartAndPassengerDetail {
    width: 90%;
  }
} */

@media (min-width: 62em) {
  .cartAndPassengerDetail {
    width: 70%;
  }
}

.editBtn {
  background-color: var(--secondary-darkest-color);
  border-color: var(--secondary-darkest-color);
}
