.main {
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background: #fff;
  margin-bottom: 1.3rem;
}

.heading {
  color: rgba(0, 0, 0, 0.8);
  font-family: SF Pro Display;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.headingDetails {
  margin-top: 0.7rem;
}
