.main {
  background-color: #f7f7f7;
  padding-bottom: 1.5rem;
  padding-top: 3rem;
}

.mainHeading {
  font-size: 1.8rem;
  padding: 2rem 0;
  text-align: center;
}

@media (min-width: 45em) {
  .mainHeading {
    font-size: 2.6rem;
  }
}

.radioButton {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.passengerDetails {
  background-color: var(--third-color);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.tripDetails {
  background-color: var(--third-color);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.tripDetails h2,
.passengerDetails h2 {
  font-size: 1.3rem;
}

@media (min-width: 45em) {
  .tripDetails h2,
  .passengerDetails h2 {
    font-size: 2rem;
  }
}
.textArea {
  background-color: var(--third-color);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.button {
  background: var(--secondary-darkest-color);
  color: var(--third-color);
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
}
