.contactForm {
  background-color: var(--secondary-color);
  height: 30vh;
  padding-top: 5rem;
  margin-bottom: 52rem;
}

@media (max-width: 20em) {
  .contactForm {
    margin-bottom: 60rem;
  }
}

@media (min-width: 37.5em) {
  .contactForm {
    margin-bottom: 54rem;
  }
}

@media (min-width: 62em) {
  .contactForm {
    margin-bottom: 36rem;
  }
}
