.navbar-bg {
  background-color: var(--secondary-color);
}
.navbar-bg a {
  color: white;
}
.logo-main {
  font-size: 1.2rem;
  color: white;
}
@media (min-width: 60em) {
  .logo-main {
    font-size: 1.87rem;
  }
}
.logo-vacations-text {
  color: var(--primary-color);
  font-weight: bold;
}
