.navbar-bg {
  background-color: var(--secondary-color);
}
.navbar-bg a {
  color: white;
}
.logo-main {
  font-size: 1.5rem;
  color: white;
}

@media (min-width: 45em) {
  .logo-main {
    font-size: 1.9rem;
  }
}

.logo-vacations-text {
  color: #f0a500;
  font-weight: bold;
}
