.form {
  margin-top: 2rem;
  color: rgba(0, 0, 0, 0.5);
  background: var(--primary-color);
  padding: 1rem;
  border-radius: 10px;
}
@media (min-width: 62em) {
  .searchForm {
    display: flex;
    height: 3.8rem;
  }
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 2.6rem;
  width: 6.8rem;

  margin-top: 1rem;
  color: var(--third-color);
  background: var(--secondary-color);
  border-radius: 3px;
  border: none;
}

@media (max-width: 20em) {
  .search-btn {
    width: 90%;
    justify-content: center;
  }

  .search-btn img {
    padding-right: 1rem !important;
  }
}

@media (min-width: 62em) {
  .search-btn {
    height: 2.81rem;
  }
}
