.bookingDetails {
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
}

@media (min-width: 45em) {
  .bookingDetails {
    margin-bottom: 2rem;
    width: 100%;
  }
}
@media (min-width: 62em) {
  .bookingDetails {
    width: 30%;
    margin-bottom: 2rem;
  }
}

.bookingDetails h1 {
  padding: 1rem 0;
  border-bottom: 0.5px solid #c4c4c4;
}

@media (min-width: 45em) {
  .bookingDetails h1 {
    font-size: 1.5rem;
  }
}

.bookingDetails h2 {
  font-size: 1.3rem;
}

.headingBorder {
  border-bottom: 0.5px solid #c4c4c4;
  padding: 1rem 0;
}

.headingBorder h3 {
  font-size: 1rem;
}
