.loading {
  background-color: var(--five-color);

  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading h4 {
  text-align: center;
  width: 15rem;
}

@media (min-width: 37.5em) {
  .loading h4 {
    text-align: center;
    width: 100%;
  }
}

.fallBackLoading {
  background-color: var(--five-color);
  display: flex;
  height: 6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading h4 {
  margin-bottom: 1.5rem;
}
.spinnerColor {
  color: var(--primary-color);
}
