.awards {
  margin: 4rem auto;
  background-color: var(--five-color);
  padding: 2rem;
  border-radius: 9.93rem 0px 12.5rem 0px;
}

.awards strong {
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.68rem;
}
