.awards {
  margin: 4rem auto;
}

.awardsWithBorder {
  background-color: var(--five-color);
  padding: 2rem;
  border-radius: 10%;
}

.awards strong {
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.68rem;
}
