.articleContainer {
  padding-top: 5rem;
  min-height: 100%;
}

.articleContainer article {
  max-width: 60rem;
  margin: 0 auto;
}

.faqs h2 {
  font-size: 1.3rem;
}

.articleHeading {
  font-size: 1.4rem;
  padding: 1.2rem 0px;
  font-weight: 400;
}
.articleHeading3 {
  font-weight: 360;
  font-size: 1.3rem;
  padding: 1rem 0px;
}

@media (min-width: 45em) {
  .articleHeading {
    font-size: 2rem;
  }
  .articleHeading3 {
    font-weight: 360;
    font-size: 1.5rem;
    padding: 1rem 0px;
  }
}
