.articleContainer {
  padding-top: 5rem;
  min-height: 100%;
}

.articleContainer article {
  max-width: 50rem;
  margin: 0 auto;
}

.faqs h2 {
  font-size: 1.3rem;
}

.articleHeading {
  font-size: 1.3rem;
  text-align: center;
  padding-bottom: 2rem;
}
