.footer {
  background: linear-gradient(360deg, #001a51 -22.68%, var(--secondary-darkest-color) 111.34%);
  color: var(--third-color);
  padding: 1rem 0;
  line-height: 2rem;
  height: 100%;
  overflow: hidden;
}
.footerLogoAndLink {
  display: flex;
  flex-direction: column;
}
@media (min-width: 60em) {
  .footerLogoAndLink {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.footerInfoLink {
  color: white;
  padding-bottom: 1.4rem;
}
.footerUl {
  padding-top: 1.5rem;
  list-style: none;
  padding-left: 0;
}
@media (min-width: 35em) {
  .footerUl {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 60em) {
  .footerUl {
    justify-content: flex-start;
  }
}

.heading {
  padding-bottom: 1rem;
}

.footerList {
  display: flex;
  flex-direction: column;
}

@media (min-width: 60em) {
  .footerList {
    padding-right: 6rem;
  }
}

.socialMedia {
  padding-top: 1.5rem;
  border-bottom: 0.4px solid rgba(255, 255, 255, 0.7);
}
.socialMediaHeading {
  padding-bottom: 0.4rem;
  font-size: 1.2rem;
}
.footerList a,
.socialMediaList a {
  text-decoration: none;
  color: var(--third-color);
  padding-bottom: 1rem;
}

.footerList a:hover,
.socialMediaList a:hover,
.footerInfoLink:hover {
  color: var(--primary-color);
}
.socialMediaList {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 2rem;
  font-size: 1.3rem;
}

.copyright {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.socialHeadingAndLanguages {
  display: flex;
  flex-direction: column-reverse;
  gap: 4rem;
}

.footerLogo {
  font-size: 1.7rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

@media (min-width: 60em) {
  .socialHeadingAndLanguages {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footerLogo {
    font-size: 2rem;
    padding: 4rem 0px;
  }
}
.footerLogoSpan {
  color: var(--primary-color);
  font-weight: bold;
}
