.footer {
  background: linear-gradient(360deg, #001a51 -22.68%, var(--secondary-darkest-color) 111.34%);
  color: var(--third-color);
  padding: 1rem 0;
  line-height: 2rem;
  height: 100%;
  overflow: hidden;
}

.footerUl {
  padding-top: 1.5rem;
  list-style: none;
  padding-left: 0;
}
@media (min-width: 35em) {
  .footerUl {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 60em) {
  .footerUl {
    justify-content: flex-start;
  }
}

.heading {
  padding-bottom: 1rem;
}

.footerList {
  display: flex;
  flex-direction: column;
}

@media (min-width: 60em) {
  .footerList {
    padding-right: 6rem;
  }
}

.socialMedia {
  padding-top: 1.5rem;
  border-bottom: 0.4px solid rgba(255, 255, 255, 0.7);
}
.socialMediaHeading {
  padding-bottom: 0.4rem;
  font-size: 1.2rem;
}
.footerList a,
.socialMediaList a {
  text-decoration: none;
  color: var(--third-color);
  padding-bottom: 1rem;
}
.socialMediaList {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 2rem;
  font-size: 1.3rem;
}

.copyright {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
