.postsContainer {
  margin: 5rem auto;
}

.postsHeading {
  margin-bottom: 5rem;
}

.postsCard {
  background-color: var(--five-color);
  cursor: pointer;
}

@media (min-width: 62em) {
  .postsCard {
    width: 20rem;
  }
}
