.searchList {
  list-style: none;
  padding-left: 0;
  background-color: var(--third-color);
  height: 22rem;
  overflow-y: scroll;

  /* position: absolute; */

  /* width: 20rem; */
  /* z-index: 1; */
}

@media (min-width: 48em) {
  .searchList {
    position: absolute;
    bottom: 0;

    width: 20rem;
    z-index: 1;
  }
}

.searchListOption {
  font-size: 1.1rem;
  margin-top: 1rem;
  padding: 0.8rem 0;
  /* border-top: 1px solid var(--five-color); */
  border-bottom: 2px solid var(--five-color);
}

.searchListOption:hover {
  color: var(--third-color);
  background-color: var(--secondary-darkest-color);
}
