.searchList {
  list-style: none;
  padding-left: 0;
  background-color: var(--third-color);
  height: 15.5rem;
  overflow-y: scroll;
}

.searchList::-webkit-scrollbar {
  display: none;
}

@media (min-width: 48em) {
  .searchList {
    width: 100%;

    position: absolute;

    z-index: 1;
  }
}

@media (min-width: 62em) {
  .searchList {
    top: 3.7rem;
    width: 20rem;
  }

  .moveLeft {
    left: 16.6rem;
  }
}

.searchListOption {
  font-size: 1.1rem;
  padding: 0.8rem 0;
  border-bottom: 2px solid var(--five-color);
}

@media (min-width: 62em) {
  .searchListOption {
    padding-left: 1rem !important;
  }
}

.searchListOption:hover {
  color: var(--third-color);
  background-color: var(--secondary-darkest-color);
}
