:root {
  --primary-color: #f0a500;
  --secondary-color: #003580;
  --secondary-darkest-color: #00236d;
  --third-color: #ffffff;
  --fourth-color: #c4c4c4;
  --five-color: #f7f7f7;
  --first-icon-bg: #f0a500;
  --second-icon-bg: #ffa6d5;
  --third-icon-bg: #6d9886;
}

/* Bootstrap */
.navbar-toggler {
  border: var(--primary-color) solid !important ;
}

.dropdown-item {
  color: black !important;
}

.accordion-button:not(.collapsed) {
  color: var(--third-color);
  background-color: var(--secondary-color);
}

/* Date Picker */
.react-datepicker__time-container {
  width: 100% !important;
}

.cXfWQqS img {
  width: 100%;
}

@media (min-width: 48em) {
  .fade {
    display: none !important;
  }
}

.selectedCart {
  border-bottom: 3px solid var(--primary-color) !important;
  border-left: 3px solid var(--primary-color) !important;
}

.main {
  min-height: 85vh;
  /* margin-bottom: 100%; */
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
