:root {
  --primary-color: #f0a500;
  --secondary-color: #003580;
  --secondary-darkest-color: #00236d;
  --third-color: #ffffff;
  --fourth-color: #c4c4c4;
  --five-color: #f7f7f7;
  --first-icon-bg: #f0a500;
  --second-icon-bg: #ffa6d5;
  --third-icon-bg: #6d9886;
  --six-color: #e9ecef;
  --seven-color: #8f8f8f;
}

/* Bootstrap */
.navbar-toggler {
  border: var(--primary-color) solid !important ;
}

.navbar-toggler .navbar-toggler-icon {
  background-color: rgba(253, 253, 253, 0.16) !important;
  border-radius: 3px;
}

.dropdown-item {
  color: black !important;
}

.accordion-button:not(.collapsed) {
  color: var(--third-color);
  background-color: var(--secondary-color);
}

.invalid-feedbackShow {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}

.cXfWQqS img {
  width: 100%;
}

@media (min-width: 48em) {
  .fade {
    display: none !important;
  }
}

.selectedCart {
  border-bottom: 3px solid var(--primary-color) !important;
  border-left: 3px solid var(--primary-color) !important;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.spinnerColor {
  color: var(--primary-color);
}
