:root {
  --primary-color: #f0a500;
  --secondary-color: #003580;
  --third-color: #ffffff;
  --fourth-color: #c4c4c4;
  --five-color: #f7f7f7;
  --first-icon-bg: #f0a500;
  --second-icon-bg: #ffa6d5;
  --third-icon-bg: #6d9886;
}
